body {
    padding: 0;
    margin: 0;
}

.appMain {
    padding-left: 250px;
    width: 100%;
}

.sideMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0px;
    width: 250px;
    height: 100%;
    direction: inherit;
    box-sizing: border-box !important;
    visibility: visible;
    background-color: rgba(17, 134, 170, 0.9);
}

.appLogo {
    width: 60%;
    height: 25%;
    margin-top: 5px;
    text-align: center;
}

.appLogo span {
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Monospace';
    color: #fff;
    margin-top: 10px;
    padding: 12px;
    text-shadow: 1px 0px 0px #000;
}

.navigation {
    border: 1px solid #fff;
    border-radius: 10px;
    width: 90%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideMenu .footer {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bbb;
}

.image {
    width: 100%;
    height: 100%;
    border: 1px solid violet;
    margin-right: 10px;
    margin-left: 5px;
    position: relative;
    right: 5px;
    transition: transform 0.3s ease-out;
}

.image:hover {
    transform: scale(1.075);
}


.logo {
    border-radius: 50%;
}

.link {
    text-decoration: none !important;
    color: #fff;
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-size: 1.1em;
}

.link span {
    margin-left: 20px;
}

.link:hover {
    color: #Aff;
}

.declaration_nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none !important;
}

.menu {
    list-style: none;
}

.link::after {
    color: white;
}

.submenu {
    list-style-type: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 2px;
    border-bottom: 1px solid white;
}

.grid-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation li {
    list-style-type: none;
}

.navigation li button {
    width: 90%;
}

.MuiTabs-flexContainer {
    margin-top: 25px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}

th, td {
    text-align: center !important;
}

.registre th {
    font-weight: bold !important;
    color: white !important;
}
