body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.appMain {
    padding-left: 250px;
    width: 100%;
}

.sideMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0px;
    width: 250px;
    height: 100%;
    direction: inherit;
    box-sizing: border-box !important;
    visibility: visible;
    background-color: rgba(17, 134, 170, 0.9);
}

.appLogo {
    width: 60%;
    height: 25%;
    margin-top: 5px;
    text-align: center;
}

.space {
    height: 5%;
    width: 100%;
}

.appLogo span {
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Monospace';
    color: #fff;
    margin-top: 10px;
    padding: 12px;
    text-shadow: 1px 0px 0px #000;
}

.navigation {
    border: 1px solid #fff;
    border-radius: 20px;
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sideMenu .footer {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bbb;
}

.declaration_content {
    margin-top: 10px;
}


.link {
    text-decoration: none !important;
    color: #fff;
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-size: 1.1em;
}

.link span {
    margin-left: 20px;
}

.link:hover {
    color: #Aff;
}

.declaration_nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none !important;
}

.link::after {
    color: white;
}

th {
    font-weight: bold;
}

